<div id='body'>
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <p>We are at a crossroads of potentiality and discontinuity. Throughout history, humans have been interacting with the infinite via frequencies. Humankind has nothing to lose.</p>
  <p>Yes, it is possible to disrupt the things that can confront us, but not without curiosity on our side. Without sharing, one cannot heal. Only a traveller of the totality may create this network of choice.</p>
  <p>Reality has always been radiating pilgrims whose bodies are opened by purpose. Who are we? Where on the great story will we be re-energized? We are in the midst of an eternal ennobling of self-actualization that will give us access to the quantum soup itself.</p>
</div>