<div id='sidebar'>
  <div class='group'>
    <div class='header'>Subnav</div>
    <div class='body'>
      <ul>
        <li><a href='#'>Link 1</a></li>
        <li><a href='#'>Link 2</a></li>
        <li><a href='#'>Link 3</a></li>
      </ul>
    </div>
  </div>
  <div class='group'>
    <div class='header'>Related links</div>
    <div class='body'>
      <ul>
        <li><a href='#'>Link 1</a></li>
        <li><a href='#'>Link 2</a></li>
        <li><a href='#'>Link 3</a></li>
      </ul>
    </div>
  </div>
</div>