<div id='header'>
  <div class='logo'>
    <img src={{logoPath}} alt="LeaseLabs: Full Stack Marketing" />
  </div>
  <div class='nav'>
    <div class='item'>
      <a href='#'>Home</a>
    </div>
    <div class='item'>
      <a href='#'>Our work</a>
    </div>
    <div class='item'>
      <a href='#'>About us</a>
    </div>
    <div class='item'>
      <a href='#'>Contact us</a>
    </div>
    <div class='item active'>
      <a href='#'>Specials</a>
    </div>
  </div>
</div>